In [1]:
import pandas as pd 
import numpy as np

In [3]:
 df = pd.read_csv("C:\\Users\\user\\Desktop\\DS\\mini project\\TA&NLP-Mini Project\\Zomato_reviews.csv")
df.head()

   rating                                        review_text
0     1.0  Their service is worst, pricing in menu is dif...
1     5.0  really appreciate their quality and timing . I...
2     4.0  Went there on a Friday night, the place was su...
3     4.0  A very decent place serving good food.\r\nOrde...
4     5.0  One of the BEST places for steaks in the city....

In [4]:
df.shape

(27762, 2)

In [5]:
df.describe(include="all")

              rating review_text
count   27762.000000       27748
unique           NaN       10548
top              NaN        good
freq             NaN         278
mean        3.665784         NaN
std         1.284573         NaN
min         1.000000         NaN
25%         3.000000         NaN
50%         4.000000         NaN
75%         5.000000         NaN
max         5.000000         NaN

In [6]:
df1 = df[~df.review_text.isnull()].copy()

In [7]:
df1.reset_index(inplace=True, drop=True)

In [8]:
df.shape, df1.shape

((27762, 2), (27748, 2))

In [9]:
df_list = df1.review_text.values
len(df_list)

27748

3. Perform cleanup on the data

a. Normalize the casing

In [10]:
df_lower = [txt.lower() for txt in df_list]

In [11]:
df_lower[2:4]

['went there on a friday night, the place was surprisingly empty. interesting menu which is almost fully made of dosas. i had bullseye dosa and cheese masala dosa. the bullseye dosa was really good, with the egg perfectly cooked to a half boiled state. the masala in the cheese masala was good, but the cheese was a bit too chewy for my liking. the chutney was good, the sambar was average. the dishes are reasonably priced.',
 'a very decent place serving good food.\r\nordered chilli fish, chicken & pork sizzler.\r\neverything tasted good but pork could have been slightly better cooked.\r\ntried 2 beverages, both were very sweet.']

 
b. Remove extra line breaks from the text

In [12]:
df_lower = [" ".join(txt.split()) for txt in df_lower]

In [13]:
df_lower[2:4]

['went there on a friday night, the place was surprisingly empty. interesting menu which is almost fully made of dosas. i had bullseye dosa and cheese masala dosa. the bullseye dosa was really good, with the egg perfectly cooked to a half boiled state. the masala in the cheese masala was good, but the cheese was a bit too chewy for my liking. the chutney was good, the sambar was average. the dishes are reasonably priced.',
 'a very decent place serving good food. ordered chilli fish, chicken & pork sizzler. everything tasted good but pork could have been slightly better cooked. tried 2 beverages, both were very sweet.']

In [14]:
from nltk.tokenize import word_tokenize

In [15]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [16]:
print(word_tokenize(df_lower[0]))

['their', 'service', 'is', 'worst', ',', 'pricing', 'in', 'menu', 'is', 'different', 'from', 'bill', '.', 'they', 'can', 'give', 'you', 'a', 'bill', 'with', 'increased', 'pricing', '.', 'even', 'for', 'serving', 'water', ',', 'menu', ',', 'order', 'you', 'need', 'to', 'call', 'them', '3-4', 'times', 'even', 'on', 'a', 'non', 'busy', 'day', '.']

In [17]:
df_tokens = [word_tokenize(sent) for sent in df_lower]
print(df_tokens[0])

['their', 'service', 'is', 'worst', ',', 'pricing', 'in', 'menu', 'is', 'different', 'from', 'bill', '.', 'they', 'can', 'give', 'you', 'a', 'bill', 'with', 'increased', 'pricing', '.', 'even', 'for', 'serving', 'water', ',', 'menu', ',', 'order', 'you', 'need', 'to', 'call', 'them', '3-4', 'times', 'even', 'on', 'a', 'non', 'busy', 'day', '.']

c. Remove stop words

d. Remove punctuation

In [20]:
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [21]:
from string import punctuation

In [22]:
df_nltk = stopwords.words("english")

In [23]:
df_punct = list(punctuation)

In [24]:
print(df_nltk)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [25]:
df_nltk.remove("no")
df_nltk.remove("not")
df_nltk.remove("don")
df_nltk.remove("won")

In [26]:
df_final = df_nltk + df_punct + ["...", "``","''", "====", "must"]

In [27]:
def del_stop(sent):
    return [term for term in sent if term not in df_final]

In [28]:
del_stop(df_tokens[1])

['really',
 'appreciate',
 'quality',
 'timing',
 'tried',
 'thattil',
 'kutti',
 'dosa',
 "'ve",
 'addicted',
 'dosa',
 'really',
 'chutney',
 'really',
 'good',
 'money',
 'worth',
 'much',
 'better',
 'thattukada',
 'try']

In [29]:
df_clean = [del_stop(sent) for sent in df_tokens]

In [30]:
df_clean = [" ".join(sent) for sent in df_clean]
df_clean[:2]

['service worst pricing menu different bill give bill increased pricing even serving water menu order need call 3-4 times even non busy day',
 "really appreciate quality timing tried thattil kutti dosa 've addicted dosa really chutney really good money worth much better thattukada try"]

#4. Separation into train and test sets 

a. Use train-test method to divide your data into 2 sets: train and test

b. Use a 70-30 split

In [31]:
X = df_clean
y = df1.rating

In [32]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state=42)

#5. Use TF-IDF values for the terms as features to get into a vector space model 

a. Import TF-IDF vectorizer from sklearn 

b. Instantiate with a maximum of 5000 terms in your vocabulary 

c. Fit and apply on the train set 

d. Apply on the test set

In [33]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [34]:
vectorizer = TfidfVectorizer(max_features = 5000)

In [35]:
len(X_train), len(X_test)

(19423, 8325)

In [36]:
X_train_bow = vectorizer.fit_transform(X_train)

In [37]:
X_test_bow = vectorizer.transform(X_test)

In [38]:
X_train_bow.shape, X_test_bow.shape

((19423, 5000), (8325, 5000))

#6. Model building: Random Forest Regressor 

a. Instantiate RandomForestRegressor from sklearn (set random seed) 

b. Fit on the train data 

c. Make predictions for the train set

In [39]:
from sklearn.ensemble import RandomForestRegressor

In [40]:
?RandomForestRegressor

In [41]:
df_rf = RandomForestRegressor(random_state=42)

In [42]:
%%time
df_rf.fit(X_train_bow, y_train)

Wall time: 8min 25s

RandomForestRegressor(random_state=42)

In [43]:
y_train_preds = df_rf.predict(X_train_bow)

#7. Model evaluation 

a. Report the root mean square error

In [44]:
from sklearn.metrics import mean_squared_error

In [45]:
mean_squared_error(y_train, y_train_preds)**0.5

0.23720347586757728

#8. Hyperparameter tuning 

a. Import GridSearch 

b. Provide the parameter grid to choose: 

i. max_features – ‘auto’, ‘sqrt’, ‘log2’ 
ii. max_depth – 10, 15, 20, 25

In [107]:
from sklearn.model_selection import GridSearchCV

In [108]:
?RandomForestRegressor

In [109]:
df_rf = RandomForestRegressor(random_state=42)

In [110]:
param_grid = {
    'max_features': [500, "auto", "sqrt", "log2"],
    'max_depth': [10, 15, 20, 25]
}

#9. Find the parameters with the best mean square error in cross-validation 

a. Choose the appropriate scoring as the metric for scoring 

b. Choose stratified 5 fold cross-validation scheme 

c. Fit on the train set

In [111]:
grid_search = GridSearchCV(estimator = df_rf, param_grid = param_grid, 
                          cv = 5, n_jobs = -1, verbose = 1, scoring = "neg_mean_squared_error" )

In [112]:
grid_search.fit(X_train_bow, y_train)

Fitting 5 folds for each of 16 candidates, totalling 80 fits

GridSearchCV(cv=5, estimator=RandomForestRegressor(random_state=42), n_jobs=-1,
             param_grid={'max_depth': [10, 15, 20, 25],
                         'max_features': [500, 'auto', 'sqrt', 'log2']},
             scoring='neg_mean_squared_error', verbose=1)

In [113]:
grid_search.cv_results_

{'mean_fit_time': array([ 10.48074632,  78.51973996,   1.67571206,   0.72672024,
         18.79774237, 135.32434287,   3.2526226 ,   1.10087366,
         29.76479492, 199.51531873,   4.63069572,   1.54497671,
         43.90205503, 205.61706643,   6.11365495,   1.73394737]),
 'std_fit_time': array([2.48494897e-01, 1.45608791e+00, 1.04450792e-01, 1.17105633e-02,
        6.37011910e-01, 1.75642268e+00, 9.38712452e-02, 3.77185434e-02,
        8.57085484e-01, 4.77032221e+00, 6.76238712e-01, 1.80634485e-01,
        3.84257242e-01, 1.43813194e+01, 1.81202511e-01, 4.63559083e-02]),
 'mean_score_time': array([0.12140474, 0.14440236, 0.09484224, 0.10241532, 0.13433475,
        0.12251663, 0.13667274, 0.11253672, 0.14462152, 0.15298152,
        0.15525885, 0.12942276, 0.17074323, 0.1095067 , 0.15320096,
        0.12945428]),
 'std_score_time': array([0.01607599, 0.06723725, 0.00354977, 0.02083302, 0.02219015,
        0.00537093, 0.00849338, 0.0047006 , 0.00960824, 0.02608291,
        0.03549447, 0.00868568, 0.03161678, 0.03272873, 0.02661191,
        0.00603055]),
 'param_max_depth': masked_array(data=[10, 10, 10, 10, 15, 15, 15, 15, 20, 20, 20, 20, 25, 25,
                    25, 25],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_max_features': masked_array(data=[500, 'auto', 'sqrt', 'log2', 500, 'auto', 'sqrt',
                    'log2', 500, 'auto', 'sqrt', 'log2', 500, 'auto',
                    'sqrt', 'log2'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'max_depth': 10, 'max_features': 500},
  {'max_depth': 10, 'max_features': 'auto'},
  {'max_depth': 10, 'max_features': 'sqrt'},
  {'max_depth': 10, 'max_features': 'log2'},
  {'max_depth': 15, 'max_features': 500},
  {'max_depth': 15, 'max_features': 'auto'},
  {'max_depth': 15, 'max_features': 'sqrt'},
  {'max_depth': 15, 'max_features': 'log2'},
  {'max_depth': 20, 'max_features': 500},
  {'max_depth': 20, 'max_features': 'auto'},
  {'max_depth': 20, 'max_features': 'sqrt'},
  {'max_depth': 20, 'max_features': 'log2'},
  {'max_depth': 25, 'max_features': 500},
  {'max_depth': 25, 'max_features': 'auto'},
  {'max_depth': 25, 'max_features': 'sqrt'},
  {'max_depth': 25, 'max_features': 'log2'}],
 'split0_test_score': array([-0.84805792, -0.8797774 , -1.21873038, -1.46601418, -0.68067359,
        -0.71735493, -1.06262567, -1.38275701, -0.56964763, -0.60233922,
        -0.92435109, -1.30573765, -0.48913115, -0.52429385, -0.81727014,
        -1.24249308]),
 'split1_test_score': array([-0.83771019, -0.80785244, -1.21582872, -1.47551313, -0.65444803,
        -0.64953241, -1.05580533, -1.38368675, -0.53849386, -0.55219975,
        -0.9161609 , -1.30492522, -0.45713093, -0.47236955, -0.79742469,
        -1.23217209]),
 'split2_test_score': array([-0.82450929, -0.81362485, -1.22483994, -1.48621782, -0.64687216,
        -0.65762943, -1.05401849, -1.39503427, -0.53220825, -0.56072208,
        -0.92064256, -1.31206218, -0.4502666 , -0.48929824, -0.79870079,
        -1.2403262 ]),
 'split3_test_score': array([-0.77249261, -0.78612728, -1.15251984, -1.39456468, -0.61330314,
        -0.64669395, -0.99807807, -1.30220425, -0.51013155, -0.55193671,
        -0.86225407, -1.22585946, -0.43676118, -0.48655494, -0.75441706,
        -1.15460954]),
 'split4_test_score': array([-0.80473447, -0.79873802, -1.20175172, -1.46919791, -0.63530674,
        -0.65650155, -1.03550837, -1.3728384 , -0.52472224, -0.5567857 ,
        -0.90267622, -1.2916304 , -0.44895519, -0.48781044, -0.78340279,
        -1.22382812]),
 'mean_test_score': array([-0.8175009 , -0.817224  , -1.20273412, -1.45830154, -0.64612073,
        -0.66554246, -1.04120719, -1.36730413, -0.53504071, -0.56479669,
        -0.90521697, -1.28804298, -0.45644901, -0.49206541, -0.79024309,
        -1.21868581]),
 'std_test_score': array([0.02675815, 0.03262651, 0.02622386, 0.03260724, 0.02217091,
        0.02623156, 0.02336058, 0.03330095, 0.01972067, 0.01904879,
        0.02269845, 0.03179526, 0.01761009, 0.01722049, 0.02089911,
        0.03270836]),
 'rank_test_score': array([ 9,  8, 12, 16,  5,  6, 11, 15,  3,  4, 10, 14,  1,  2,  7, 13])}

In [144]:
grid_search.cv_results_['params']

[{'max_depth': 10, 'max_features': 500},
 {'max_depth': 10, 'max_features': 'auto'},
 {'max_depth': 10, 'max_features': 'sqrt'},
 {'max_depth': 10, 'max_features': 'log2'},
 {'max_depth': 15, 'max_features': 500},
 {'max_depth': 15, 'max_features': 'auto'},
 {'max_depth': 15, 'max_features': 'sqrt'},
 {'max_depth': 15, 'max_features': 'log2'},
 {'max_depth': 20, 'max_features': 500},
 {'max_depth': 20, 'max_features': 'auto'},
 {'max_depth': 20, 'max_features': 'sqrt'},
 {'max_depth': 20, 'max_features': 'log2'},
 {'max_depth': 25, 'max_features': 500},
 {'max_depth': 25, 'max_features': 'auto'},
 {'max_depth': 25, 'max_features': 'sqrt'},
 {'max_depth': 25, 'max_features': 'log2'}]

In [116]:
best_clif = grid_search.best_estimator_

In [117]:
best_clif

RandomForestRegressor(max_depth=25, max_features=500, random_state=42)

11. Predict and evaluate using the best estimator 

a. Use the best estimator from the grid search to make predictions on the test set 

b. What is the root mean squared error on the test set?

In [118]:
y_train_pred = best_clif.predict(X_train_bow)

In [119]:
y_test_pred = best_clif.predict(X_test_bow)

In [120]:
mean_squared_error(y_train, y_train_pred)**0.5

0.5876681060137491

In [121]:
mean_squared_error(y_test, y_test_pred)**0.5

0.6715338514796404

12. identify mismatch cases

In [122]:
df_res = pd.DataFrame({'review':X_test, 'rating':y_test, 'rating_pred':y_test_pred})

In [123]:
df_res[(df_res.rating - df_res.rating_pred)>=2].shape

(8, 3)

In [124]:
df_res[(df_res.rating - df_res.rating_pred)>=2]

                                                  review  rating  rating_pred
7277   life saviours serving excellent food worst tim...     5.0     2.007670
1818                     value money ordered second time     5.0     2.970624
4771                                            not good     5.0     1.998553
16510  may not polished serving packaging etc never b...     5.0     1.894671
14845  oh memories place first drink bangalore almost...     5.0     2.628792
15201                                 sauce not included     4.0     1.878766
3165                                  rice quantity less     5.0     2.844196
16515  may not polished serving packaging etc never b...     5.0     1.894671